{
	"url": "",
	"http": 80,
	"https": 443,
	"session": "session secret word",
	"debug": true,
	"production": false,
	"autoTrade": false,
	"hashcash": true,
	"env": {
		"production": {
			"main": {
				"protocol": "",
				"port": "",
				"hostname": ""
			},
			"side": {
				"protocol": "",
				"port": "",
				"hostname": ""
			}
		},
		"test": {
			"main": {
				"protocol": "",
				"port": "",
				"hostname": ""
			},
			"side": {
				"protocol": "",
				"port": "",
				"hostname": ""
			}
		}
	}
}