{	
        "Baliv": "",
        "PublicBank": "",
        "PrivateBank": "",
        "MainBasicToken": [
                { "token": "TWX", "fullname": "XPA TWD Token", "address": "", "decimal": 18 }
        ],
        "SideBasicToken": [
                { "token": "TWX", "fullname": "XPA TWD Token", "address": "", "decimal": 18 }
        ]
}